<div class="box rounded normal_area list_item property mail <% unread %> selectable">
	<div class="upper">
		<img class="indicator mail" src="../../../images/unread_mail.png" width="34" height="34" />
		<img src="../../../images/photo4.png" width="240" height="180" />
	</div>

	<div class="middle">				
		<h3>Beautiful title</h3>
		<ul class="display">
			<li>55 m2 apartment on 4th floor</li>
			<li>2/1 Furnished rooms</li>
			<li>Valby, Copenhagen, DK</li>
			<li>12/5/2012 - 12/5/2013</li>
		</ul>
	</div>

	<div class="lower">
		<div>
			<h4 class="cost">6500 DKK</h4>
			<ul class="actions">
				<li class="lower icon-star indicator rentability <% good %>"></li>
				<li class="lower icon-heart action favorite <% on %>"></li>
				<li class="lower icon-globe action map"></li>
			</ul>
		</div>
	</div>
</div>
