<div id="property-bottom">
  <form id="property_details_form">
    <%= render partial: 'properties/edit/details/bottom/accordion' %>
    <%= render partial: 'properties/edit/details/bottom/accordion/menu' %>
  </form>
</div>