<div id="property-top-left">
	<%= render partial: 'properties/edit/details/top/gallery' %>
	<%= render partial: 'properties/edit/details/top/data' %>
</div>

<div id="property-top-right">
	<%= render partial: 'box/square_photo/edit_profile.html'%>
  <!-- link between location and details view depending on current mode -->
	<%= render partial: "box/link_box/#{mode}.html" %>
</div>
