<div id="landlord-profile-contact" class="box square_photo selectable">
	<div class="upper">
		<%= image_tag "user_photos/alex-photo.png", width: 240, height: 240 %>		
	</div>
	<div class="middle name">
		<h3>Hi, I'm Javier</h3>
	</div>

	<div id="landlord-profile-contact" class="lower contact">
		<div class="subtitle">
			<h4>Contact me</h4>	
			<span class="actions">
				<%= image_tag "icons/contact/phone.png", width: 32, height: 32  %>
				<%= image_tag "icons/contact/email.png", width: 32, height: 32 %>
			</span>
		</div>
	</div>
</div>
