<div id="content" class="mail">
	<div class="left-content">
		<div id="company-profile" class="box square_photo selectable">
			<div class="upper logo">
				
				<!-- <img src="../../images/swan_blured.png" width="200" height="200" /> -->
			</div>
			<div class="middle">
				<h3>The Danrent Team</h3>
			</div>

			<div id="company-location" class="lower location">
				<h4>Copenhagen - Denmark</h4>
			</div>
		</div>
	</div>
	<div id="threads-container" class="right-content">
		<ul id='threads' class="threads">	
			<li class="system_message message selectable">
				<a href="show.html">
					<div class="message_date stats">
						<h5>13:45 - 3/2/2013</h5>
						<i class="icon-heart"></i>
						<i class="icon-remove"></i>					
					</div>
					<div class="message_content">
						<div class="message_text">
							<h3>Title of Danrent's notification</h3>
							<p>Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						</div>
						<div class="message_profile">
							<div class="sender_photo">
								<img src="../../../../../images/swan_blured.png">
							</div>
							<div class="sender_name">
								<h6>Danrent</h6>
							</div>
						</div>
					</div>
				</a>
			</li>

			<li class="system_message message selectable">
				<a href="show.html">
					<div class="message_date stats">
						<h5>13:45 - 3/2/2013</h5>
						<i class="icon-heart favorite_on"></i>
						<i class="icon-remove"></i>					
					</div>
					<div class="message_content">
						<div class="message_text">
							<h3>Title of Danrent's notification</h3>
							<p>Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						</div>
						<div class="message_profile">
							<div class="sender_photo">
								<img src="../../../../../images/swan_blured.png">
							</div>
							<div class="sender_name">
								<h6>Danrent</h6>
							</div>
						</div>
					</div>
				</a>
			</li>

			<li class="system_message message new_message selectable">
				<a href="show.html">
					<div class="message_date stats">
						<h5>13:45 - 3/2/2013</h5>
						<i class="icon-heart"></i>
						<i class="icon-remove"></i>					
					</div>
					<div class="message_content">
						<div class="message_text">
							<h3>Title of Danrent's notification</h3>
							<p>Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						</div>
						<div class="message_profile">
							<div class="sender_photo">
								<img src="../../../../../images/swan_blured.png">
							</div>
							<div class="sender_name">
								<h6>Danrent</h6>
							</div>
						</div>
					</div>
				</a>
			</li>

			<li class="system_message message selectable">
				<a href="show.html">
					<div class="message_date stats">
						<h5>13:45 - 3/2/2013</h5>
						<i class="icon-heart favorite_on"></i>
						<i class="icon-remove"></i>					
					</div>
					<div class="message_content">
						<div class="message_text">
							<h3>Title of Danrent's notification</h3>
							<p>Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						</div>
						<div class="message_profile">
							<div class="sender_photo">
								<img src="../../../../../images/swan_blured.png">
							</div>
							<div class="sender_name">
								<h6>Danrent</h6>
							</div>
						</div>
					</div>
				</a>
			</li>

			<li class="system_message message new_message selectable">
				<a href="show.html">
					<div class="message_date stats">
						<h5>13:45 - 3/2/2013</h5>
						<i class="icon-heart"></i>
						<i class="icon-remove"></i>					
					</div>
					<div class="message_content">
						<div class="message_text">
							<h3>Title of Danrent's notification</h3>
							<p>Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						</div>
						<div class="message_profile">
							<div class="sender_photo">
								<img src="../../../../../images/swan_blured.png">
							</div>
							<div class="sender_name">
								<h6>Danrent</h6>
							</div>
						</div>
					</div>
				</a>
			</li>
		</ul>

	</div>
</div>