<div id="content" class="single_item">
	<div id="upper-content">
		<div id="profile" class="box square_photo selectable">
			<div class="upper">
				<img src="../../../../../images/amanda.png" width="240" height="240" />
			</div>
			<div class="middle">
				<h3>Hi, I'm Amanda</h3>
			</div>

			<div id="profile-location" class="lower location">
				<h4>Copenhagen - Denmark</h4>
			</div>
		</div>

		<div class="box rounded normal_area list_item contact_options offline">
			<div class="upper">
				<h3>Current status</h3>
				<div class="current_status">
					<span class="user_name">Amanda is offline now</span>
					<span class="indicator icon-circle-blank offline_status"></span>
				</div>
			</div>

			<div class="middle">				
				<h3>Contact info:</h3>
				<div class="phone_number">
					<img src="../../../../../images/phone.png" width="32" height="32">
					<h4>+45 69696969</h4>
				</div>
			</div>

			<div class="lower">
			</div>
		</div>

		<div class="box rounded normal_area list_item property selectable">
			<div class="upper">
				<img src="../../../../../images/photo4.png" width="240" height="180" />
			</div>
			
			<div class="middle">				
				<h3>Beautiful title</h3>
				<ul class="display">
					<li>55 m2 apartment on 4th floor</li>
					<li>2/1 Furnished rooms</li>
					<li>Valby, Copenhagen, DK</li>
					<li>12/5/2012 - 12/5/2013</li>
				</ul>
			</div>

			<div class="lower">
				<div>
					<h4 class="cost">6500 DKK</h4>
					<ul class="actions">
						<li class="lower icon-heart action favorite on"></li>
						<li class="lower icon-globe action map"></li>
					</ul>
				</div>
			</div>
		</div>				
	</div>
	<div id="lower-content">
		<ul id='tenant-message-list' class="thread">
			<li class="tenant_message message">
				<div class="message_date">
					<h5>13:45 - 3/2/2013</h5>
				</div>
				<div class="message_content">
					<div class="message_text">
						<p>Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					<div class="message_profile">
						<div class="sender_photo">
							<img src="../../../../../images/amanda.png">
						</div>
						<div class="sender_name">
							<h6>Amanda wrote</h6>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<ul id='landlord-message-list' class="thread landlord">
			<li class="landlord_message message">
				<div class="message_date">
					<h5>13:45 - 3/2/2013</h5>
				</div>
				<div class="message_content">
					<div class="message_text inverse">
						<p>Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					<div class="message_profile">
						<div class="sender_photo">
							<img src="../../../../../images/alex-photo.png">
						</div>
						<div class="sender_name">
							<h6>You wrote</h6>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<ul id='tenant-message-list' class="thread">
			<li class="tenant_message message">
				<div class="message_date">
					<h5>13:45 - 3/2/2013</h5>
				</div>
				<div class="message_content">
					<div class="message_text">
						<p>Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  <br><br> Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					<div class="message_profile">
						<div class="sender_photo">
							<img src="../../../../../images/amanda.png">
						</div>
						<div class="sender_name">
							<h6>Amanda wrote</h6>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<ul id='landlord-message-list' class="thread landlord">
			<li class="landlord_message message">
				<div class="message_content">
					<div class="message_date">
						<h5>New message</h5>
					</div>
					<div class="message_text_new inverse">
						<textarea>Write your description here...</textarea>
					</div>
					<div class="message_profile">
						<div class="sender_photo">
							<img src="../../../../../images/alex-photo.png">
						</div>
						<div class="sender_name">
							<h6>You wrote</h6>
						</div>
					</div>
				</div>
				<div id="send-button">
						<button class="btn btn-primary btn-large">Send</button>
				</div>
			</li>
		</ul>
	</div>
</div>