<div id="property-top-left">
	<%= render partial: 'properties/edit/location/top/map', 
             locals: {property: property}
  %>
	<%= render partial: 'properties/edit/location/top/search_box',
             locals: {property: property}
  %>
</div>

<div id="property-top-right">
	<%= render partial: 'box/square_photo/edit_profile.html',
             locals: {property: property}  
  %>

  <!-- link between location and details view depending on current mode -->
	<%= render partial: "box/link_box/#{mode}.html",
             locals: {property: property}  
  %>
</div>
