<div id="navigation-buttons" class="section">
	<div class="items">
		<span id="nav-search">
			<i class="icon-search"></i>
			<span class="badge badge-warning">4</span>
		</span>
		<span id="nav-favorites">
			<i class="icon-heart"></i>
			<span class="badge badge-warning">6</span>
		</span>
	</div>				
</div>
