<footer class="bar">
	<div id="company-logo" class="section">
		<img src="images/swan_blured.png">
	</div>
	<div id="user" class="section">
		<div id="login">
			<i class="icon-lock"></i>
		</div>
	</div>
	<div id="navigation-buttons" class="section">
		<div class="items">
			<span id="nav-search">
				<i class="icon-search"></i>
				<span class="badge badge-warning">4</span>
			</span>
			<span id="nav-favorites">
				<a href="html/pages/properties/favorites/index.html"><i class="icon-heart"></i></a>
				<span class="badge badge-warning">6</span>
			</span>
		</div>				
	</div>
	<%= render partial: 'layouts/bars/footer/preferences' %>
</footer>

<footer id="sub-footer">
	<div id="company-address" class="section">
		<div id="adress-label">
			<p>Danrent.dk &copy Maglekildevej. Frederiksberg, Denmark.</p>
		</div>
	</div>

	<div id="social-follow" class="section">
		<div id="items">
			<span id="facebook-follow">
				<i class="icon-facebook-sign"></i>
			</span>

			<span id="twitter-follow">
				<i class="icon-twitter-sign"></i>
			</span>
		</div>
	</div>
</footer>
