#address-box
  #edit-property-exact-address-form
    %h3
      Drag and drop the pin to locate the place to rent and/or use the text fields below to indicate the exact address.
    %h4
      In case it is not a house

    = form.text_field :floor_address

    %h4
      Current address:
    %p
      Lergravsvej 19, 2300 Copenhagen
    
    = submit_button