<footer class="bar">
	<div id="company-logo" class="section">
		<%= image_tag 'company_logo/swan_blured.png' %>
	</div>
	<%= render partial: "layouts/bars/footer/main/#{user_session}" %>
	<%= render partial: 'layouts/bars/footer/main/navigation_buttons' %>
	<%= render partial: 'layouts/bars/footer/main/preferences' %>
</footer>
