<div id="property-details" class="squares edit">
	<div id="outer" class="cost">
	    <div id="inner" class="cost">Undefined rent</div>
	</div>

	<div id="outer" class="type">
	    <div id="inner"><i class="icon-home"></i><br>Property type</div>
	</div>

	<div id="outer" class="size">
		<div id="inner"><i class="icon-check-empty"></i><br>Size in m2</div>
	</div>

	<div id="outer" class="rooms">
		<div id="inner"><i class="icon-th-large"></i><br>nRooms</div>
	</div>

	<div id="outer" class="bathrooms">
		<div id="inner"><i class="icon-th"></i><br>Bathrooms</div>
	</div>

	<div id="outer" class="state">
		<div id="inner"><i class="icon-lightbulb"></i><br>Furniture</div>
	</div>

	<div id="outer" class="floor">
		<div id="inner"><i class="icon-sort"></i><br>Floor number</div>
	</div>
</div>
