<div id="post_later">
  <a href="../management/index.html"><i class="icon-arrow-left"></i>
  Post property later</a>

</div>

<%= render partial: "properties/edit/#{edit_mode}", locals: {mode: @mode} %>
</div>



