<div id="property-top-left">

<%= render partial: "properties/show/top/#{mode}" %>
<%= render partial: 'properties/show/top/details' %>

</div>


<div id="property-top-right">

<%= render partial: 'box/square_photo/landlord_contact' %>
<%= render partial: "box/link_box/show_#{reverse_mode(mode)}" %>

</div>