<li class="tenant_message message new_message selectable">
	<a href="show.html"></a>					
		<div class="message_date stats">
			<h5>13:45 - 3/2/2013</h5>						
			<i class="icon-heart"></i>
			<i class="icon-remove"></i>
		</div>
		<div class="message_content">
			<div class="message_text">
				<p>Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
			<div class="message_profile">
				<div class="sender_photo">
					<%= image_tag 'user_photos/amanda.png' %>
				</div>
				<div class="sender_name">
					<h6>Amanda wrote</h6>
				</div>
			</div>
		</div>
	</a>
</li>
