<li class="landlord_message message">
	<div class="message_content">
		<div class="message_date">
			<h5>New message</h5>
		</div>
		<div class="message_text_new inverse">
			<textarea>Write your description here...</textarea>
		</div>
		<div class="message_profile">
			<div class="sender_photo">
				<%= image_tag 'user_photos/alex-photo.png' %>
			</div>
			<div class="sender_name">
				<h6>Alex</h6>
			</div>
		</div>
	</div>
	<div id="send-button">
			<button class="btn btn-primary btn-large">Send</button>
	</div>
</li>
