<div id="property-details" class="squares edit">
	<div id="outer" class="cost">
	    <div id="inner" class="cost">0 DKK</div>
	</div>

	<div id="outer" class="type">
	    <div id="inner"><i class="icon-home"></i><br>Apartment</div>
	</div>

	<div id="outer" class="size">
		<div id="inner"><i class="icon-check-empty"></i><br>0 m2</div>
	</div>

	<div id="outer" class="rooms">
		<div id="inner"><i class="icon-th-large"></i><br>2 rooms</div>
	</div>

	<div id="outer" class="bathrooms">
		<div id="inner"><i class="icon-th"></i><br>1 bathroom</div>
	</div>

	<div id="outer" class="state">
		<div id="inner"><i class="icon-lightbulb"></i><br>No furniture</div>
	</div>

	<div id="outer" class="floor">
		<div id="inner"><i class="icon-sort"></i><br>0th Floor</div>
	</div>
</div>
