#content {
	margin-left: auto;
	margin-right: auto;
	width: 1035px;

	background-color: whitesmoke;
}

#content > * {
	background: inherit;
}

#content .accordion {
	background: inherit;	
}

#content .accordion_menu {
	background: inherit;	
}

#content #property-bottom-right {
	background: inherit;	
}

#content.mail {
	margin-left: auto;
	margin-right: auto;
	width: 1140px;
/*	border: solid red 2px;*/
	overflow: auto;
	/*width: 100%	*/
}

#content.list_items {
	float: left;	
}

.hide {
 	display: none !important;
 }

/* Property bottom */

div#property-accordion {
	float: left;
	display: inline-block;
	margin: 0px;
	padding: 0px;
	padding-bottom: 20px;

/*	
	min-height: 1952px;
	max-height: 1952px;
*/

	min-height: 452px;
	max-height: 452px;

	min-width: 775px; 
	max-width: 775px;
}

div#property-bottom-right {
	float: left;
	display: inline-block;
	margin: 0px;
	padding: 0px;

/*	
  min-height: 1972px;
	max-height: 1972px;
*/

  min-height: 472px;
	max-height: 472px;

	min-width: 260px; 
	max-width: 260px;
}

body{
	margin: 0px;
	background-color: whitesmoke;
}

.icon-mail:before         { content: "\f0e0"; }
.icon-map:before          { content: "\f0ac"; }

h1{
	color: silver;
	padding-left: 17px;
	background-color: gray;
}