<div id="property-bottom">
	<div id="address-box">		
		<div id="edit-property-exact-address-form">
			<h3>Drag and drop the pin to locate the place to rent and/or use the text fields below to indicate the exact address.
			</h3>
			<h4>In case it is not a house:</h4>
			<form class="search_form" action="input">
				<input type="text" value="Type floor number">
				</input>
			</form>
			<form class="search_form" action="input">
				<input type="text" value="Type apartment number or side">
				</input>
			</form>
			<h4>Current address:</h4>
			<p>Lergravsvej 19, 2300 Copenhagen</p>
			<button id="save-button" class="btn btn-primary"><i class="icon-white icon-search"></i> Save location
			</button>
		</div>
	</div>
</div>