<div id="property-top-left">

	<%= render partial: 'properties/edit/top/map'%>
	<%= render partial: 'properties/edit/top/search_box'%>

</div>

<div id="property-top-right">

	<%= render partial: 'box/square_photo/edit_profile.html'%>
	<%= render partial: "box/link_box/#{reverse_mode mode}.html" %>

</div><!-- property-top-right -->
