<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render partial: 'layouts/application/head' %>
  </head>
  <body>

    <div id="content" class="single_item">
      <%= yield %>
    </div>

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
